extends _layout

block append head
	script(type="text/javascript")
		$(document).ready(function() {
			$("#player").focus();
		});

block content
	div#register
		form(action="/register", method="post")
			table
				tr
					td Jogador:
					td
						input#player(type="text", name="player", size="20", maxlength="20", value=player.name)
				tr
					td Cor:
					td
						select(name="color")
							- for (i = 0; i < 8; i++)
								option(selected=i == player.color, value=i) Cor #{i + 1}
				tr
					td
					td(style='text-align: right')
						input(type="submit", value="Entrar")
