extends _layout

block append head
	script(type="text/javascript")
		$(document).ready(function() {
			$("#player").focus();
		});

block content
	div#register
		form(action="/register", method="post")
			table
				tr
					td Jogador:
					td
						input#player(type="text", name="player", size="20", maxlength="20")
				tr
					td Cor:
					td
						select(name="color")
							for color in colors
								option(style="color: #{color}") #{color}
				tr
					td
					td(style='text-align: right')
						input(type="submit", value="Entrar")
